.cabezote{
    font-family: 'Courier New', Courier, monospace;
}
.navbar{
 padding: 0.5rem 0rem !important;
}
.container-fluid{
  
    background: rgb(199,221,104);
background: linear-gradient(357deg, rgba(199,221,104,1) 0%, rgba(231,241,154,1) 100%);
}
.logo-img{
    width:9vw ;
    height: 7vh;
    
}

.redes{
    font-size: 1.6vw !important;
    color: #414099 !important;
}

@media (max-width: 1000px){
    .logo-img{
       width: 30vw !important;
    }

    .redes{
        font-size: 5vw !important;
    }

    .container-fluid{
      padding: .7rem 1rem 3rem 0rem !important;
      margin: 6rem 0rem 3.3rem !important;
    }
    
}
@media all and (min-width: 700px), handheld and (orientation: landscape) { 
    .logo-img{
        width: 20vw !important;
     }
 
     .redes{
        font-size: 2vw !important;
    }
    .container-fluid{
        margin: 6rem 0rem 3.3rem !important;
      }

 }
