.menu {
    width: 100%;
    background: #c46cf4;
    
  }

  .menu ul{
    justify-content: flex-end;
    display: flex;
  }
  .menu ul li {
    list-style-type: none;
    text-align: left;
  }
  
  .menu ul li:first-child {
    flex: 1;
  }
  
  
  .menu ul li a {
    padding: 10px;
  }

 